<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="settingsToggle"><a href="">Toggle Settings</a></div>
    <div id="settingsView"></div>
    <div class="clear"></div>

    <div id="tweetColumns">
      <div class="tweetColumn" id="column_0">
        <div id ="center" style="position:relative;top:20%;left:45%"><img class="spinner" src="images/spinner.gif" height="40px" width="40px"></div>
      </div>
      <div class="tweetColumn" id="column_1">
        <div id ="center" style="position:relative;top:20%;left:45%"><img class="spinner" src="images/spinner.gif" height="40px" width="40px"></div>
      </div>
      <div class="tweetColumn" id="column_2">
        <div id ="center" style="position:relative;top:20%;left:45%"><img class="spinner" src="images/spinner.gif" height="40px" width="40px"></div>
      </div>
    </div>

    <!-- Template for timeline -->

    <script type="text/x-handlebars-template" id="timeline-template">
      <ul class='tweetTimeline'>
        {{#each tweets}}
        <li class="tweet">
          <div class="avatar">
            <img src='{{user.profile_image_url}}' />
          </div>
          <div class='data'>
            <b>{{user.name}}</b>
            <div class="timestamp"><i>{{friendlyDate}}</i></div>
            <p>{{format text}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars-template" id="settings-template">
      <form id='settingsForm' action="#">
        Adjust tweets per column:<br/>
        5
        <input name="tweetCount" id="tweetCount" type="range" min="5" max="500" value="{{tweetCount}}">
        500<br/>
        <br/>
        Change column order: <br/>
        <ul id="sortable">
          {{#each twitterAccounts}}
            <li class="ui-state-default" data-twitter-acc="{{this}}">
              <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
              {{this}}
            </li>
          {{/each}}
        </ul>
        <br/>
        <input type="submit" value="Update"/>
      </form>
    </script>

    <!-- General Includes -->
    <script src="javascripts/external/jquery-1.11.3.min.js"></script>
    <script src="javascripts/external/underscore-min.js"></script>
    <script src="javascripts/external/backbone-min.js"></script>
    <script src="javascripts/external/handlebars-v3.0.3.js"></script>
    <script src="javascripts/external/moment.js"></script>
    <script src="javascripts/external/jquery-ui.min.js"></script>
    <script src="javascripts/libs/Helpers.js"></script>
    <script src="javascripts/libs/tweetParser.js"></script>

    <!-- The 'main' for this app -->
    <script src="javascripts/app/app.js"></script>

    <!-- Model -->
    <script src="javascripts/app/model/Tweet.js"></script>
    <script src="javascripts/app/model/Settings.js"></script>

    <!-- Collections -->
    <script src="javascripts/app/collection/Timeline.js"></script>

    <!-- View -->
    <script src="javascripts/app/view/TimelineView.js"></script>
    <script src="javascripts/app/view/SettingsToggleView.js"></script>
    <script src="javascripts/app/view/SettingsView.js"></script>

    <!-- Router -->
    <script src="javascripts/app/router/AppRouter.js"></script>

  </body>
</html>
