body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f4f8fb;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
}

#tweetColumns {
  display: flex;
  justify-content: space-between;
}

.tweetColumn {
  padding: 0;
  margin-bottom: 15px;
  overflow: auto;
  width: 32%;
  height: 500px;
  background: #fff;
  border-color: #e3e7ea;
  border-width: 1px;
  border-style: solid;
}

.tweet {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e3e7ea;
}

.tweet:hover {
  background-color: #f4f8fb;
}

.tweetTimeline {
  padding: 0;
  margin: 0;
}

.avatar {
  float: left;
  display: inline-block;
}

.data {
  margin-left: 55px;
}

.avatar img {
  border-radius: 5px;
}

.timestamp {
  float: right;
  font-size: .7rem;
}

.temp {
  padding: 20px;
}

#settingsToggle {
  display: block;
  float: right;
  margin: 0 0 10px 0;
}

.clear {
  clear: both;
}

#settingsView {
  max-width: 300px;
  background: #ffffff;
  border-color: #e3e7ea;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}

#settingsView {
  display: none;
}

@media screen and (max-width: 1000px) {
  .timestamp {
    float: left;
  }

  .avatar {
    display: inline;
    margin: 0 10px 10px 0;
  }

  .data {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .timestamp {
    float: right;
  }

  .tweetColumn {
    width: 100%;
    display: block;
  }

  #tweetColumns {
    display: block;
  }
}
